/* NAV */
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9a9a9a;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    text-align: center;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    margin-right: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav div img{
    width: 70px;
    padding-left: 70%;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color:#191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover{
    color: orangered;
    border-bottom: 1px solid orangered;
}


/* CONTACTO */
#contact-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.contact-image {
    margin-right: 20px; /* Ajusta este margen según tus necesidades */
}

.contact-image img {
    max-width: 100%;
    max-height: 400px; /* Ajusta esta altura según tus necesidades */
    height: auto;
}

.contact-form {
    max-width: 400px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.success-message {
    color: #4CAF50;
    font-weight: bold;
    margin-top: 10px;
}


/* CARRUSELES */
/* Estilos adicionales para el carrusel */

#content-container {
    position: relative;
}

#carousel-container {
    width: 80%; /* Ajusta el ancho del carrusel según tus necesidades */
    margin: auto;
    overflow: hidden;
    margin-top: 20px; /* Ajusta según tu diseño */
    position: relative;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
}

/* Estilo adicional para los botones de navegación */
.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px;
    z-index: 1; /* Asegura que los botones estén encima de las imágenes */
}

.carousel-btn-left {
    left: 10px;
}

.carousel-btn-right {
    right: 10px;
}


/*ACORDEON*/
.accordion {
    max-width: 800px;
    margin: 20px auto;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.accordion-header {
    padding: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.accordion-content {
    padding: 10px;
    display: none;
    background-color: #fff;
}

/*FOOTER*/
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h2 {
    color: #fff;
}

.footer-section p {
    color: #ccc;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #444;
    color: #ccc;
}